
<h3>Course Detail</h3>


<p>{{data.name}}</p>
<p>{{data.subtitle}}</p>
</p>{{data.discription}}</p>
</p>{{data.price}}</p>
</p>{{data.category}}</p>


<hr/>
<h3>Reviews</h3>
    <ul>
        
        {% for review in  course_review %}
            <li>
                <h5>{{review.user}} - {{review.course}} -- {{review.created_at}}</h5>
            </li>
        {% endfor %}
    <ul/>
 <hr/>

 
<h3>Add New Review</h3>
<form method="post">
    {% csrf_token %}
  

        {{form}}



    <input type="submit" value = "Add New Review">

</form>




